eclipse-workspace/ffp_jaxb/schema/participant/Request/FFPHC002.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:include schemaLocation="../Common/MsgDataType_String_ALPHA.xsd"></xs:include>

	<xs:element name="BODY" type="FFPHC002"></xs:element>
	<xs:complexType name="FFPHC002">
		<xs:sequence>
			<xs:element name="SrcRefNm" type="RestrictedNZText_Max30" minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>