eclipse-workspace/ffp_jaxb/schema/participant/Response/FFPGF004.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:include schemaLocation="../Common/MsgDataType_String_ALPHA.xsd"></xs:include>

	<xs:element name="BODY" type="FFPGF004"></xs:element>
	<xs:complexType name="FFPGF004">
		<xs:sequence>
			<xs:element name="FileName" type="RestrictedNZText_Max50" minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>
